<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<link type="text/css" href="../assets/css/transparent/app.min.css" rel="stylesheet" />

	

	<link type="text/css" href="../assets/plugins/jvectormap-next/jquery-jvectormap.css" rel="stylesheet" />
	<link type="text/css" href="../assets/plugins/nvd3/build/nv.d3.css" rel="stylesheet" />
	<link type="text/css" href="../assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<!-- <script type="text/javascript" src="../assets/plugins/apexcharts/dist/apexcharts.min.js"></script> -->
</head>
<body>
	<%- include("../frame/loader") -%>


	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<%- include("../frame/header") -%>
		<%- include("../frame/sidebar") -%>
        
		<div id="content" class="content">
			
			<ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item"><a href="javascript:;">FinFine</a></li>
				<li class="breadcrumb-item"><a href="javascript:;">Token</a></li>
			</ol>
			
			
			<h1 class="page-header mb-3">Token</h1>
			
			
			<div class="row">
				<div class="col-xl-3">
					
					<div class="card border-0 text-truncate mb-3 ">
						
						<div class="card-body">
							
							<div class="mb-3 text-grey">
								<b class="mb-3">SUPPLY TOTAL</b> 
								<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Conversion Rate" data-placement="top" data-content="Percentage of sessions that resulted in orders from total number of sessions." data-original-title="" title=""></i></span>
							</div>
							
							
							<div class="d-flex align-items-center mb-1">
								<h2 class="text-white mb-0"><span data-animation="number" data-value="2.19">0.00</span>%</h2>
								<div class="ml-auto">
									<div id="conversion-rate-sparkline"></div>
								</div>
							</div>
							
							
							<div class="mb-4 text-grey">
								<i class="fa fa-caret-down"></i> <span data-animation="number" data-value="0.50">0.00</span>% compare to last week
							</div>
							
							
							<div class="d-flex mb-2">
								<div class="d-flex align-items-center">
									<i class="fa fa-circle text-red f-s-8 mr-2"></i>
									Added to cart
								</div>
								<div class="d-flex align-items-center ml-auto">
									<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="262">0</span>%</div>
									<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="3.79">0.00</span>%</div>
								</div>
							</div>
							
							
							<div class="d-flex mb-2">
								<div class="d-flex align-items-center">
									<i class="fa fa-circle text-warning f-s-8 mr-2"></i>
									Reached checkout
								</div>
								<div class="d-flex align-items-center ml-auto">
									<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="11">0</span>%</div>
									<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="3.85">0.00</span>%</div>
								</div>
							</div>
							
							
							<div class="d-flex">
								<div class="d-flex align-items-center">
									<i class="fa fa-circle text-lime f-s-8 mr-2"></i>
									Sessions converted
								</div>
								<div class="d-flex align-items-center ml-auto">
									<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="57">0</span>%</div>
									<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="2.19">0.00</span>%</div>
								</div>
							</div>
							
						</div>
						
					</div>
					
				</div>
				<div class="col-xl-3">
					
					<div class="card border-0 text-truncate mb-3 ">
						
						<div class="card-body">
							
							<div class="mb-3 text-grey">
								<b class="mb-3">CURRENT PRICE</b> 
								<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Conversion Rate" data-placement="top" data-content="Percentage of sessions that resulted in orders from total number of sessions." data-original-title="" title=""></i></span>
							</div>
							
							
							<div class="d-flex align-items-center mb-1">
								<h2 class="text-white mb-0"><span data-animation="number" data-value="2.19">0.00</span>%</h2>
								<div class="ml-auto">
									<div id="conversion-rate-sparkline"></div>
								</div>
							</div>
							
							
							<div class="mb-4 text-grey">
								<i class="fa fa-caret-down"></i> <span data-animation="number" data-value="0.50">0.00</span>% compare to last week
							</div>
							
							
							<div class="d-flex mb-2">
								<div class="d-flex align-items-center">
									<i class="fa fa-circle text-red f-s-8 mr-2"></i>
									Added to cart
								</div>
								<div class="d-flex align-items-center ml-auto">
									<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="262">0</span>%</div>
									<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="3.79">0.00</span>%</div>
								</div>
							</div>
							
							
							<div class="d-flex mb-2">
								<div class="d-flex align-items-center">
									<i class="fa fa-circle text-warning f-s-8 mr-2"></i>
									Reached checkout
								</div>
								<div class="d-flex align-items-center ml-auto">
									<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="11">0</span>%</div>
									<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="3.85">0.00</span>%</div>
								</div>
							</div>
							
							
							<div class="d-flex">
								<div class="d-flex align-items-center">
									<i class="fa fa-circle text-lime f-s-8 mr-2"></i>
									Sessions converted
								</div>
								<div class="d-flex align-items-center ml-auto">
									<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="57">0</span>%</div>
									<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="2.19">0.00</span>%</div>
								</div>
							</div>
							
						</div>
						
					</div>
					
				</div>

				<div class="col-xl-6">
					<div class="card border-0 mb-3 ">
						<div class="card-body">
							<div class="col-xl-6 col-lg-6 col-mg-6 col-xs-12 offset-xl-3 offset-lg-3 offset-md-3">
								<div class="mb-2 text-grey text-center">
									<b>TOKEN INFORMATION</b>
									<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Total sales" data-placement="top" data-content="Net sales (gross sales minus discounts and returns) plus taxes and shipping. Includes orders from all sales channels."></i></span>
								</div>
								<div>
									<div class="d-flex align-items-center text-white mb-2 mt-2">
										<div class="d-flex w-100">
											<h6>NAME:</h6>
											<h6 class="ml-auto text-grey"> FINFINE TOKEN</h6>
										</div>
									</div>
									<div class="d-flex align-items-center text-white mb-2 mt-2">
										<div class="d-flex w-100">
											<div>DECIMAL:</div>
											<h6 class="ml-auto text-grey"> 3</h6>
										</div>
									</div>
									<div class="d-flex align-items-center text-white mb-2 mt-2">
										<div class="d-flex w-100">
											<div>SYMBOL:</div>
											<h6 class="ml-auto text-grey">FFT</h6>
										</div>
									</div>
									<div class="d-flex align-items-center text-white mb-2 mt-2">
										<div class="d-flex w-100">
											<div>MAX SUPPLY:</div>
											<h6 class="ml-auto text-grey">1,428,570,000</h6>
										</div>
									</div>
									<div class="d-flex align-items-center text-white mb-2 mt-2">
										<div class="d-flex w-100">
											<div>TOKEN TYPE:</div>
											<h6 class="ml-auto text-grey">MINTABLE ERC-20</h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="row">
				
				<div class="col-lg-12">
					
					<div class="panel panel-inverse" data-sortable-id="chart-js-6">
						<div class="panel-body p-0">
							<div id="apex-candelstick-chart"></div>
						</div>
					</div>
					
				</div>
				<!-- <div class="col-xl-4">
					
					<div class="panel panel-inverse" data-sortable-id="chart-js-10">
						<div class="panel-body p-0">
							<div id="apex-pie-chart"></div>
						</div>
					</div>
					
				</div> -->
			</div>
			
		</div>
		
		
		
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		
	</div>
	
	
	
	<script type="text/javascript" src="../assets/js/app.min.js"></script>
	<script type="text/javascript" src="../assets/js/theme/transparent.min.js"></script>
	
	
	
	<script type="text/javascript" src="../assets/plugins/d3/d3.min.js"></script>
	<script type="text/javascript" src="../assets/plugins/nvd3/build/nv.d3.min.js"></script>
	<script type="text/javascript" src="../assets/plugins/moment/min/moment.min.js"></script>
	<script type="text/javascript" src="../assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript" src="../assets/js/demo/dashboard-v3.js"></script>
	
	<script type="text/javascript">
		Apex.grid = {
			borderColor: 'rgba(255,255,255,0.25)'
		};
		Apex.title = {
			style: {
				color: '#fff'
			}
		}
		Apex.legend = {
			labels: {
				colors: '#fff'
			}
		}
		Apex.xaxis = {
			labels: {
				style: {
					colors: '#fff'
				}
			},
			title: {
				style: {
					color: '#fff'
				}
			}
		}
		Apex.yaxis = {
			labels: {
				style: {
					color: '#fff'
				}
			},
			title: {
				style: {
					color: '#fff'
				}
			}
		}
	</script>
	<script type="text/javascript" src="../assets/js/demo/chart-apex.demo.js"></script>
	<script src="../custom/sidebar.js"></script>
	
</body>
</html>