<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link rel="icon" href="../assets-home/home/finfine.png" type="image/gif">
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="../assets/css/transparent/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
	<!-- ================== BEGIN PAGE CSS ================== -->
	<link href="../assets/plugins/nvd3/build/nv.d3.css" rel="stylesheet" />
	<!-- ================== END PAGE CSS ================== -->
</head>
<body>
	<%- include("../frame/loader") -%>

	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<%- include("../frame/header") -%>
		<%- include("../frame/sidebar") -%>
		
       <!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb float-xl-right">
				<li class="breadcrumb-item"><a href="javascript:;">Tools</a></li>
				<li class="breadcrumb-item active">News</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">
				Upload News
			</h1>
            <!-- end page-header -->
            <!-- begin row -->
            <div class="row" id="news_text">
                <!-- begin col-8 -->
                <div class="col-xl-8 offset-xl-2">
                    <!-- begin form-group row -->
                    <div class="form-group row m-b-10 text-center">
                        <h3 class="w-100 text-center">News Content</h3>
                    </div>
                    <div class="form-group row m-b-10">
                        <label class="col-lg-3 text-lg-right col-form-label">Title <span class="text-danger">*</span></label>
                        <div class="col-lg-9 col-xl-6">
                            <input id="news_title" type="text" placeholder="Enter News Title" class="form-control" required/>
                        </div>
                        <small class="notiInfo text-red d-none">This value is required</small>
                    </div>
                    <!-- end form-group row -->
                    <div class="form-group row m-b-10">
                        <label class="col-lg-3 text-lg-right col-form-label">Description <span class="text-danger">*</span></label>
                        <div class="col-lg-9 col-xl-6">
                            <textarea class="form-control" id="news_des" rows="5" type="text" placeholder="Enter News Description" class="form-control" ></textarea>
                        </div>
                        <small class="notiInfo text-red d-none">This value is required</small>
                    </div>
                    <!-- end form-group row -->
                    <!-- begin form-group row -->
                    <div class="form-group row m-b-10">
                        <label class="col-lg-3 text-lg-right col-form-label">Header Text <span class="text-danger">*</span></label>
                        <div class="col-lg-9 col-xl-6">
                            <textarea class="form-control"id="news_content1" rows="10" type="text" placeholder="Enter Header News" class="form-control" ></textarea>
                        </div>
                        <small class="notiInfo text-red d-none">This value is required</small>
                    </div>
                    <!-- end form-group row -->	
                    <!-- begin form-group row -->
                    <div class="form-group row m-b-10">
                        <label class="col-lg-3 text-lg-right col-form-label">Body Text 1 <span class="text-danger">*</span></label>
                        <div class="col-lg-9 col-xl-6">
                            <textarea class="form-control" id="news_content2" rows="10" type="text" placeholder="Enter Body 1 News" class="form-control m-b-10" ></textarea>
                        </div>
                        <small class="notiInfo text-red d-none">This value is required</small>
                    </div>
                    <!-- end form-group row -->
                    <!-- begin form-group row -->
                    <div class="form-group row m-b-10">
                        <label class="col-lg-3 text-lg-right col-form-label">Body Text 2 <span class="text-danger">*</span></label>
                        <div class="col-lg-9 col-xl-6">
                            <textarea class="form-control" id="news_content3" rows="10" type="text" placeholder="Enter Body 2 News" class="form-control m-b-10" ></textarea>
                        </div>
                        <small class="notiInfo text-red d-none">This value is required</small>
                    </div>
                    <!-- end form-group row -->
                    <!-- begin form-group row -->
                    <div class="form-group row m-b-10">
                        <label class="col-lg-3 text-lg-right col-form-label">End Text <span class="text-danger">*</span></label>
                        <div class="col-lg-9 col-xl-6">
                            <textarea class="form-control" id="news_content4" rows="10" type="text" placeholder="Enter Footer News" class="form-control m-b-10" ></textarea>
                        </div>
                        <small class="notiInfo text-red d-none">This value is required</small>
                    </div>
                    <!-- end form-group row -->
                </div>
                <!-- end col-8 -->
                <div class="col-12 text-center">
                    <a href="javascript:void(0)" id="btn_news_content" class="btn btn-primary" >SUBMIT</a>
                </div>
            </div>
            <!-- end row -->
            <!-- begin row -->
            <div class="row d-none" id="news_img">
                <!-- begin col-8 -->
                <div class="col-xl-8 offset-xl-2">
                    <!-- begin form-group row -->
                    <div class="form-group row m-b-10 text-center">
                        <h3 class="w-100 text-center">News Image</h3>
                    </div>
                    <div class="form-group row m-b-10">
                        <label class="col-lg-3 text-lg-right col-form-label">Title <span class="text-danger">*</span></label>
                        <div class="col-lg-9 col-xl-6">
                            <input id="upload_img_news" type="file" name="firstname" placeholder="Enter News Title" class="form-control" required/>
                        </div>
                        <small class="notiInfo text-red d-none">This value is required</small>
                    </div>
                    <!-- end form-group row -->
                    <div class="text-center m-b-10" id="previewImgBounce">
                        <img id="previewImg" src="../assets/default.png" alt="">
                    </div>
                </div>
                <!-- end col-8 -->
                <div class="col-12 text-center">
                    <a href="javascript:void(0)" id="btn_news_img" class="btn btn-primary" >SUBMIT</a>
                </div>
            </div>
            <!-- end row -->
            
		</div>
		<!-- end #content -->
		
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/app.min.js"></script>
	<script src="../assets/js/theme/transparent.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../assets/plugins/d3/d3.min.js"></script>
	<script src="../assets/plugins/nvd3/build/nv.d3.min.js"></script>
	<script src="../assets/plugins/clipboard/dist/clipboard.min.js"></script>
	<script src="../assets/plugins/highlight.js/highlight.min.js"></script>
	<script src="../assets/js/demo/widget.demo.js"></script>
	<script src="../assets/js/demo/render.highlight.js"></script>
    <script src="../custom/notify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
	<script src="/siofu/client.js"></script>
	<script src="../custom/uploadnews.js"></script>
	<script src="../custom/sidebar.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
</body>
</html>