<%- include("./../layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>About Us</h3>
                        <ul>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Company</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section -->
<div class="padding_0 info_coins">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="coin_formation">
                        <ul>
                            <li>
                                <span class="curr_name">Bitcoin Price</span>
                                <span class="curr_price">2395.00 USD</span>
                            </li>
                            <li>
                                <span class="curr_name">Bitcoin Price</span>
                                <span class="curr_price">2321.68 EUR</span>
                            </li>
                            <li>
                                <span class="curr_name">24H Volume</span>
                                <span class="curr_price">1,957.25 BTC</span>
                            </li>
                            <li>
                                <span class="curr_name">Active Traders</span>
                                <span class="curr_price">1,169,857 EUR</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->


<!-- section -->
<section class="layout_padding">
    <div class="container">
        <div class="row">          
            <div class="col-md-6 col-sm-7 col-xs-12 pull-right">
                <div class="full">
                    <h3 class="special">Company name at the present time:<br>
                        FINFINE DIGITAL HEDGE FUND </h3>
                    <h3 class="special">Founded year: 2020</h3>
                    <h3 class="special">Country: United Kingdom</h3>
                    <h3 class="special">Scope of operation: Hedge Fund,
                        Cryptocurrency Trading
                        </h3>
                    <h3 class="special">Mode of operation: High-frequency
                        Trading in Cryptocurrency</h3>
                </div>
            </div>
            <div class="col-md-6 col-sm-5 col-xs-12 pull-left img_bit1">
                <div class="full center_text">
                    <img class="img-responsive" src="assets-home/company/asset_17.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- section -->
<section class="layout_padding about_bg_compu">
    <div class="container">
        <div class="row">
            <div class="inner_page_info" style="margin-top:0px;">
                <h3>FINFINE DIGITAL HEDGE FUND HISTORY</h3>
            </div>
        </div>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>1900</h4>
                <span><p style="font-size: 16px;" class="left_text">The Gold Standard Act establishes gold as the only standard for redeeming paper money.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>1913</h4>
                <span><p style="font-size: 16px;" class="left_text">Congress creates the Federal Reserve. European countries suspend gold standard during
                    WWI but return to the modified gold standard.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>1929</h4>
                <span><p style="font-size: 16px;" class="left_text">People hoarding gold during the Great Depression. Federal Reserve raises interest rates,
                    worsening the Great Depression, and causing companies to go bankrupt.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>1933</h4>
                <span><p style="font-size: 16px;" class="left_text">Commodity Exchange Inc, the main exchange for gold futures, was first founded.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>1934</h4>
                <span><p style="font-size: 16px;" class="left_text">The Gold Reserve Act prohibits private ownership of gold. Roosevelt increases the price of
                    gold for the first time in 100 years.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>1939</h4>
                <span><p style="font-size: 16px;" class="left_text">The Depression ends, and countries return to a modified gold standard.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>1944</h4>
                <span><p style="font-size: 16px;" class="left_text">The Bretton Woods Agreement sets the exchange value for all currencies in terms of gold.
                    Because the U.S. holds most of the world's gold, countries peg the value of their currency
                    to the U.S. dollar, not gold.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>1970</h4>
                <span><p style="font-size: 16px;" class="left_text">The U.S. no longer holds sufficient gold to cover foreign dollar holdings.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>1971</h4>
                <span><p style="font-size: 16px;" class="left_text">Nixon no longer allowed the Fed to redeem dollars with gold. That made the gold standard
                    meaningless...</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>1973</h4>
                <span><p style="font-size: 16px;" class="left_text">Economists named the era a period of “stagflation” (stagnation plus inflation), and it took
                    several years for output to recover and inflation to fall to its pre-crisis levels.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>1976</h4>
                <span><p style="font-size: 16px;" class="left_text">The U.S. government decoupled the value of the dollar from gold altogether.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>1994</h4>
                <span><p style="font-size: 16px;" class="left_text">The merger between Commodity Exchange Inc. and the New York Mercantile Exchange
                    (NYMEX) created the world's largest physical futures trading exchange, known simply as
                    COMEX.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>1997</h4>
                <span><p style="font-size: 16px;" class="left_text">The Asian Crisis originated in Thailand.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>2006</h4>
                <span><p style="font-size: 16px;" class="left_text">The Institute of Economic History and Gold Standard Rules Improvement (IEG) has been
                    established, under the management of COMEX.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>2007</h4>
                <span><p style="font-size: 16px;" class="left_text">The Financial Crisis, triggered by the collapse of the housing bubble in the U.S., the crisis
                    resulted in the collapse of Lehman Brothers (one of the biggest investment banks in the
                    world).</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>2009</h4>
                <span><p style="font-size: 16px;" class="left_text">Bitcoin network was born.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>2010</h4>
                <span><p style="font-size: 16px;" class="left_text">BitcoinMarkets.com - The first bitcoin exchange.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>2011</h4>
                <span><p style="font-size: 16px;" class="left_text">COMEX Gold futures (ticker symbol GC) represent the world’s leading benchmark futures
                    contract for gold prices. GC reached the highest price in history.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>2012</h4>
                <span><p style="font-size: 16px;" class="left_text">The meaning of bitcoin caught the attention of IEG and was of interest. The compatibility
                    between bitcoin and the modern gold base is focused on research (B&G Project).</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>2014</h4>
                <span><p style="font-size: 16px;" class="left_text">Ethereum and smartcontract was born.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>2016</h4>
                <span><p style="font-size: 16px;" class="left_text">After 10 years, IEG separated from the parent company and went into self-management.
                    The reorganized research institute becomes a technology laboratory focused on combining
                    the blockchain model with the gold standard to create new modern standards for the 4.0
                    economy (IEGBlock Lab).</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>2017</h4>
                <span><p style="font-size: 16px;" class="left_text">The peak period of the cryptocurrency market.</p></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="full" style="padding-left: 50px;">
                <h4>2020</h4>
                <span><p style="font-size: 16px; color: yellow" class="left_text">After successful tests, IEB changed its name to FINFINE Inc (FinFine Digital Hedge Fund) -
                    The depository company trades digital gold standards(FXG) and Cryptocurrency Trading
                    (FinFineBot). FFT creates a solid fulcrum for the new generation economy. </p></span>
            </div>
        </div>
        <hr>
    </div>
</section>
<!-- end section -->
<!-- section -->
<section class="layout_padding about_bg_compu" id="part-about">
    <div class="container">
        <div class="row">
            <div class="inner_page_info" style="margin-top:0px;">
                <h3>Our Plans</h3>
               
            </div>
        </div>
        <div class="row">
            <div class="full" style="padding-top: 50px; text-align:center">
                <img src="./assets-home/company/2.png" style="width: 600px" alt="">
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<%- include("./../layouts/footer");-%>