<%- include("./../layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>Contacts</h3>
                        <ul>
                            <li><a href="http://psdconverthtml.com/live/crypto/contacts.html#">Company</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/contacts.html#">Help Center</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section -->
<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>We are always ready to help you</span></h2>
                        <p>The FinFine support team is always available 24/7, ready to solve the
                            problems you are having</p>
                    </div>
                </div>
            </div>
            <div class="contact_form">
                <div class="form_section">
                    <form class="form_contant" action="http://psdconverthtml.com/live/crypto/index.html">
                        <fieldset>
                            <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <select class="field_custom" placeholder="Websire URL" type="text">
                                    <option class="opt-help" value="help_deposit" selected>Help with Deposits</option>
                                    <option class="opt-help" value="help_deposit">Help with Withdrawals</option>
                                    <option class="opt-help" value="help_deposit">Not Receiving Email</option>
                                    <option class="opt-help" value="help_deposit">Help with Google Auth</option>
                                    <option class="opt-help" value="help_deposit">Help with Account</option>
                                </select>
                            </div>
                            <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input class="field_custom" placeholder="Subject" type="text">
                            </div>
                            <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea class="field_custom" placeholder="Messager"></textarea>
                            </div>
                            <div class="center"><a class="btn main_btn" href="#">SEND</a></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->


<%- include("./../layouts/footer");-%>