<%- include("./../layouts/header");-%> 
   <!-- section -->
    <section id="inner_page_infor" class="innerpage_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="inner_page_info">
                            <h3>Our Team</h3>
                            <ul>
                                <li><a href="http://psdconverthtml.com/live/crypto/team_member_detail.html#">Company</a></li>
                                <li><i class="fa fa-angle-right"></i></li>
                                <li><a href="http://psdconverthtml.com/live/crypto/team_member_detail.html#">Our Team</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->


    <!-- section -->
    <section class="layout_padding team_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="heading_main">
                            <h2><span>Our management Teams</span></h2>
                            <p>Fiat economy will fluctuate strongly in 2020 due to many macro factors. We recognize
                                that Cryptocurrency is always a potential option in the future.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:25px;">
                <div class="col-md-2 col-xs-12">
                    <div class="full">
                        <div class="team_part">
                            <div class="team_img">
                                <img class="img-responsive" src="assets-home/team_member1.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="full">
                        <div class="team_part-detail">
                            <div class="team_cont">
                                <h4 class="member_name">Albert Powell</h4>
                            </div>
                            <p class="left_text">Founder and chairman of the board of directors at FinFine Digital Hedge Fund. A PhD in economics
                                and graduated from Stanford University in 1991.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">
                    <div class="full">
                        <div class="team_part">
                            <div class="team_img">
                                <img class="img-responsive" src="assets-home/team_member1.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="full">
                        <div class="team_part-detail">
                            <div class="team_cont">
                                <h4 class="member_name">Larry Bryant</h4>
                            </div>
                            <p class="left_text">Larry is the CEO and co-founder of FinFine. Previously, he worked as an engineer and researcher in the
                                fields of network security, machine learning, computer graphics, blockchain, web applications, and
                                scalable systems. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:25px;">
                <div class="col-md-2 col-xs-12">
                    <div class="full">
                        <div class="team_part">
                            <div class="team_img">
                                <img class="img-responsive" src="assets-home/team_member1.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="full">
                        <div class="team_part-detail">
                            <div class="team_cont">
                                <h4 class="member_name">Andrew Barnes</h4>
                            </div>
                            <p class="left_text">15 years of experience in leadership, organization and consulting for Entrepreneurship, High Growth
                                TechnologyI have hands-on experience in building financial infrastructure in a fast-paced environment,
                                raising funds, creating large-scale operations and in-depth knowledge of business strategies.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">
                    <div class="full">
                        <div class="team_part">
                            <div class="team_img">
                                <img class="img-responsive" src="assets-home/team_member1.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="full">
                        <div class="team_part-detail">
                            <div class="team_cont">
                                <h4 class="member_name">Gerald Sanders</h4>
                            </div>
                            <p class="left_text">Chief Technology Officer at FINFINE Inc. Gerald has over 25 years of software development experience and
                                works with many CTOs in different companies. As a software architect and system architect, he built many
                                financial systems and decentralized games on the Blockchain platform.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:25px;">
                <div class="col-md-2 col-xs-12">
                    <div class="full">
                        <div class="team_part">
                            <div class="team_img">
                                <img class="img-responsive" src="assets-home/team_member1.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="full">
                        <div class="team_part-detail">
                            <div class="team_cont">
                                <h4 class="member_name">Nicholas Butler</h4>
                            </div>
                            <p class="left_text">Chief Marketing Officer at FINFINE Inc
                                Specialization:Integrated marketing, campaign and content managementdigital strategy, branding,
                                operational management, new business.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-12">
                    <div class="full">
                        <div class="team_part">
                            <div class="team_img">
                                <img class="img-responsive" src="assets-home/team_member1.png" alt="#">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="full">
                        <div class="team_part-detail">
                            <div class="team_cont">
                                <h4 class="member_name">Marvin Garcia</h4>
                            </div>
                            <p class="left_text">Advisors Executive, International Research, Careers Advisor. Digital, eCommerce, Mobile, Iot, Data
                                Science, Deep Machine Learning, Artificial Intelligence, Big Data, Cloud, Blockchain, Smart Heath
                                Tech, VR, Smart Manufacturing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- section -->
    <section class="layout_padding about_bg_compu">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="full center_text">
                        <img class="img-responsive" src="assets-home/company/asset_189.png" alt="#">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="full">
                        <h2 class="heading_style2" style="margin-top: 70px!important">Global team</h2>
                        <h4 class="left_text">We always expand the team all over the world. To
                            ensure the stable operation of FinFIne system, we
                            need a lot of candidates who have experience in
                            industries such as information technology,
                            accounting, analyst, strategist, marketer.</h4>
                        <h4 class="left_text">If you have
                            the ability of one of the above factors. Please enter
                            your information below</h4>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- end section -->
<!-- section -->
<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>Careers</span></h2>
                        <p>Build the future of technology. Start your new career at FinFine</p>
                    </div>
                </div>
            </div>
            <div class="contact_form">
                <div class="form_section">
                    <form class="form_contant" action="http://psdconverthtml.com/live/crypto/index.html">
                        <fieldset>
                            <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input class="field_custom" placeholder="Name" type="text">
                            </div>
                            <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input class="field_custom" placeholder="Location" type="text">
                            </div>
                            <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input class="field_custom" placeholder="Email adress" type="email">
                            </div>
                            <div class="field col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <select class="field_custom" placeholder="Phone number">
                                    <option class="opt-help" value="full_time_onsite" selected>Full-time Onsite</option>  
                                    <option class="opt-help" value="full_time_onsite_remote" selected>Full-time Onsite or Remote</option>  
                                    <option class="opt-help" value="full_time_remote" selected>Full-time Remote</option>  
                                    <option class="opt-help" value="uncategorized" selected>Uncategorized</option>  
                                </select>
                            </div>
                            <div class="field col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea class="field_custom" placeholder="Messager"></textarea>
                            </div>
                            <div class="center"><a class="btn main_btn" href="http://psdconverthtml.com/live/crypto/contacts.html#">SUBMIT NOW</a></div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<%- include("./../layouts/footer");-%>