<%- include("./../layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>Stock</h3>
                        <ul>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Home</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Stock</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="layout_padding about_bg_compu">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="full center_text">
                    <img class="img-responsive" src="assets-home/home/asset_143.png" alt="#">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="full">
                    <h2 class="heading_style2" style="margin-top: 120px!important">FFT Information</h2>
                    <h4 class="left_text"><span style="color:white;">Name:</span> Finfine Token</h4>
                    <h4 class="left_text"><span style="color:white;">Decimal:</span> 3</h4>
                    <h4 class="left_text"><span style="color:white;">Symbol:</span> FFT</h4>
                    <h4 class="left_text"><span style="color:white;">Max Supply:</span> 1,428,570,000</h4>
                    <h4 class="left_text"><span style="color:white;">Curculating Supply:</span> 1,428,570,000</h4>
                    <h4 class="left_text"><span style="color:white;">Mintable ERC-20</span></h4>
                    <h4 class="left_text"><span style="color:white;">Starting Price:</span> $0.1</h4>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- section -->
<section class="layout_padding">
    <div class="container">
        <div class="row">          
            <div class="full" style="background: rgb(15, 1, 48, 0.2); padding: 30px;">
                <h4>Utility from FinFine Tokens</h4>
                <p class="left_text">&nbsp; • Exchange freely when receiving rewards from events</p>
                <p class="left_text">&nbsp; • Intermediary payment gateway from FinFine services</p>
                <p class="left_text">&nbsp; • Discounts on FinFine services</p>
                <p class="left_text">&nbsp; • High liquidity in the market</p>
                <p class="left_text">&nbsp; • The price increase over time is compatible with the growth rate of FinFine Fund
                </p>
                <p class="left_text">&nbsp; • Listing with the general growth index of typical cryptocurrency hedge funds in the
                    market</p>
            </div>
        </div>
        <hr>
        <div class="row">          
            <div class="full" style="background: rgb(15, 1, 48, 0.2); padding: 30px;">
                <h4>How to keep safe for your FinFine Tokens?</h4>
                <p class="left_text">You can hold the token on the following trusted wallets:</p>
                <p class="left_text">&nbsp; • FinFineWallet (Coming Soon)</p>
                <p class="left_text">&nbsp; • Trust Wallet</p>
                <p class="left_text">&nbsp; • MyEtherWallet</p>
                <p class="left_text">&nbsp; • FinFine Platform</p>
                <p class="left_text">&nbsp; • Ledger Nano X Wallet</p>
                <p class="left_text">&nbsp; • MetaMask Wallet</p>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- section -->
<section class="layout_padding dark_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h3><span>Why will the FFT token increase?</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">          
            <img src="../assets-home/stock/stock.png" style="width:100%" alt="">
        </div>
    </div>
</section>
<!-- end section -->

<!-- section -->

<!-- end section -->
<%- include("./../layouts/footer");-%>