<%- include("./../layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>Stock</h3>
                        <ul>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Home</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Stock</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section -->
<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>FFT Stock Information</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">          
            <div class="full" style="background: rgb(15, 1, 48, 0.2); padding: 30px;">
                <h4>Architecture</h4>
                <p class="left_text">&nbsp; • FFT Token structure from Ethereum Platform</p>
                <p class="left_text">&nbsp; • Bep2 standard</p>
                <p class="left_text">&nbsp; • Strict limit 1.428.570.000 FFT tokens.</p>
                <p class="left_text">&nbsp; • Price fluctuations follow the average growth factor of FinFine Inc</p>
                <p class="left_text">&nbsp; • Holders of more than 100,000,000 FFT tokens will become shareholders and
                    receive surplus profits
                    </p>
                <p class="left_text">&nbsp; • Freedom transfer between unlimited addresses</p>
                <p class="left_text">&nbsp; • • Decentralized Tokens</p>
            </div>
        </div>
        <hr>
        <div class="row">          
            <div class="full" style="background: rgb(15, 1, 48, 0.2); padding: 30px;">
                <h4>How to keep safe for your FFT Tokens?</h4>
                <p class="left_text">You can hold the token on the following trusted wallets:</p>
                <p class="left_text">&nbsp; • FinFineWallet (Coming Soon)</p>
                <p class="left_text">&nbsp; • Trust Wallet</p>
                <p class="left_text">&nbsp; • MyEtherWallet</p>
                <p class="left_text">&nbsp; • FinFine Platform</p>
                <p class="left_text">&nbsp; • Ledger Nano X Wallet</p>
                <p class="left_text">&nbsp; • MetaMask Wallet</p>
            </div>
        </div>
        <hr>
        <div class="row">          
            <div class="full" style="background: rgb(15, 1, 48, 0.2); padding: 30px;">
                <h4>Why will the FFT token increase?</h4>
                <p class="left_text">&nbsp; • Create an account on FinFine platform</p>
                <p class="left_text">&nbsp; • Select the currency to deposit into your account</p>
                <p class="left_text">&nbsp; • Confirm deposit and update account balance</p>
                <p class="left_text">&nbsp; • Follow the instructions to buy in the Stock menu</p>
                <p class="left_text">&nbsp; • Choose quantity and confirm</p>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- section -->
<section class="layout_padding about_bg_compu">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="full">
                    <h2 class="heading_style2" style="margin-top: 70px!important">FFT Tokens Sale</h2>
                    <h4 class="left_text"><span style="color:white;">Total Supply:</span> 1.428.570.000 FFT</h4>
                    <h4 class="left_text"><span style="color:white;">Accept payment:</span> BTC, ETH, USD, USDT, BNB, CNY,
                        INR, etc...</h4>
                    <a class="btn main_btn" href="#">Buy</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="full center_text">
                    <img class="img-responsive" src="assets-home/home/asset_143.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<%- include("./../layouts/footer");-%>