<%- include("./../layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>Invest</h3>
                        <ul>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Fund</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Invest</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="layout_padding">
    <div class="container">
        <div class="row">          
            <div class="full" style="background: rgb(15, 1, 48, 0.1); padding: 20px 30px;">
                <h3 style="color: #e9d16f">A few things to note:</h3>
                <p class="left_text">&nbsp; • Read carefully about our portfolio.</p>
                <p class="left_text">&nbsp; • Research and learn the fundamentals of Trading if you don't have the knowledge.</p>
                <p class="left_text">&nbsp; • Honestly about your assets in our personal finance management section.FinFine only allows
                    investment up to 20% of the total assets you declare.</p>
                <p class="left_text">&nbsp; • The market has many potential risks. We are trying to do our best to seek true profits from the
                    market. Any dishonest behavior may lead to an undesirable outcome.</p>  
            </div>
        </div>
    </div>
</section>
    <!-- section -->
    <section class="layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="full">
                        <div class="heading_main">
                            <h2><span>Investment Fund</span></h2>
                            <p>Choose the investment package that suits your personal finances</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul>
                                <li><a class="active" href="#">1ST</a></li>
                            </ul>
                            <div class="coin_price_table">
                                <h3>$500 - $999</h3>
                                <p class="left_text">• 6%: maximum static profit
                                    (Airdrop)</p>
                                <p class="left_text">• %35 / 1 transaction of FinFineBot</p>
                                <p class="left_text">• Accept: BTC, ETH, USD, USDT,
                                    BNB, VND, CNY, etc..</p>
                                <div class="center">
                                    <a class="pay_btn" href="#">Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul>
                                <li><a class="active" href="#">2ND</a></li>
                            </ul>
                            <div class="coin_price_table">
                                <h3>$1000 - $4999</h3>
                                <p class="left_text">• 6%: maximum static profit
                                    (Airdrop)</p>
                                <p class="left_text">• %40 / 1 transaction of FinFineBot</p>
                                <p class="left_text">• Accept: BTC, ETH, USD, USDT,
                                    BNB, VND, CNY, etc..</p>
                                <div class="center">
                                    <a class="pay_btn" href="#">Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul>
                                <li><a class="active" href="#">3TH</a></li>
                            </ul>
                            <div class="coin_price_table">
                                <h3>$5000 - $19999</h3>
                                <p class="left_text">• 6%: maximum static profit
                                    (Airdrop)</p>
                                <p class="left_text">• %45/ 1 transaction of FinFineBot</p>
                                <p class="left_text">• Accept: BTC, ETH, USD, USDT,
                                    BNB, VND, CNY, etc..</p>
                                <div class="center">
                                    <a class="pay_btn" href="#">Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul class="full">
                                <li class="full"><a class="active" href="#">4TH</a></li>
                            </ul>
                            <div class="coin_price_table">
                                <h3>$20000 - $49999</h3>
                                <p class="left_text">• 6%: maximum static profit
                                    (Airdrop)</p>
                                <p class="left_text">• %50 / 1 transaction of FinFineBot</p>
                                <p class="left_text">• Accept: BTC, ETH, USD, USDT,
                                    BNB, VND, CNY, etc..</p>
                                <div class="center">
                                    <a class="pay_btn" href="#">Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul class="full">
                                <li class="full"><a class="active" href="#">5TH</a></li>
                            </ul>
                            <div class="coin_price_table">
                                <h3>$50000 - $99999</h3>
                                <p class="left_text">• 6%: maximum static profit
                                    (Airdrop)</p>
                                <p class="left_text">• %55 / 1 transaction of FinFineBot</p>
                                <p class="left_text">• Accept: BTC, ETH, USD, USDT,
                                    BNB, VND, CNY, etc..</p>
                                <div class="center">
                                    <a class="pay_btn" href="#">Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="full">
                        <div class="coin_selling_bt">
                            <ul class="full">
                                <li class="full"><a class="active" href="#">6TH</a></li>
                            </ul>
                            <div class="coin_price_table">
                                <h3>> $100000</h3>
                                <p class="left_text">• 6%: maximum static profit
                                    (Airdrop)</p>
                                <p class="left_text">• %60 / 1 transaction of FinFineBot</p>
                                <p class="left_text">• Accept: BTC, ETH, USD, USDT,
                                    BNB, VND, CNY, etc..</p>
                                <div class="center">
                                    <a class="pay_btn" href="#">Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->

<%- include("./../layouts/footer");-%>