<%- include("./../layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>Partner</h3>
                        <ul>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Fund</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Partner</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section -->
<div class="padding_0 info_coins">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="coin_formation">
                        <ul>
                            <li>
                                <span class="curr_name">Bitcoin Price</span>
                                <span class="curr_price">2395.00 USD</span>
                            </li>
                            <li>
                                <span class="curr_name">Bitcoin Price</span>
                                <span class="curr_price">2321.68 EUR</span>
                            </li>
                            <li>
                                <span class="curr_name">24H Volume</span>
                                <span class="curr_price">1,957.25 BTC</span>
                            </li>
                            <li>
                                <span class="curr_name">Active Traders</span>
                                <span class="curr_price">1,169,857 EUR</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->


<!-- section -->
<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>PARTNER POLICY</span></h2>
                        <p>We always welcome partners around the global</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">          
            <div class="full" style="background: rgb(15, 1, 48, 0.1); padding: 30px;">
                <h4>Content producer</h4>
                <p class="left_text">&nbsp; • Build and editing Video introduction about FinFine Fund</p>
                <p class="left_text">&nbsp; • Publish quality blogs and share them online</p>
                <p class="left_text">&nbsp; • Suggestions of useful content about future marketing programs</p>
                <p class="left_text">&nbsp; • If you are a Bloger, Youtuber has many followers or owns a reliable communication channel,
                    please contact us.</p>  
            </div>
        </div>
        <hr>
        <div class="row">          
            <div class="full" style="background: rgb(15, 1, 48, 0.1); padding: 30px;">
                <h4>Technical developer</h4>
                <p class="left_text">&nbsp; • We are not sure our system is perfect. If you find a problem with the system, contact us and
                    receive a reward</p>
                <p class="left_text">&nbsp; • Contact us when you have the following:</p>
                <p class="left_text">&nbsp;&nbsp;&nbsp; - You have an idea about UI UX expansion</p>
                <p class="left_text">&nbsp;&nbsp;&nbsp; - You have an idea to upgrade our ecosystem</p>
                <p class="left_text">&nbsp;&nbsp;&nbsp; - You are proficient in editing and troubleshooting the system</p>
            </div>
        </div>
        <hr>
        <div class="row">          
            <div class="full" style="background: rgb(15, 1, 48, 0.1); padding: 30px;">
                <h4>User developer</h4>
                <p class="left_text">We publicize rewards for outstanding members in the user development process for FinFine Fund:</p>
                <p class="left_text">&nbsp; • Commissions from investment package:</p>
                <div class="row">   
                    <table class="tb-partner col-lg-3 col-md-3 col-xs-8 col-lg-offset-3 col-md-offset-3 col-xs-offset-2">
                        <tbody>
                            <tr>
                                <td>Level</td>
                                <td>Profit</td>
                            </tr>
                            <tr>
                                <td>F1</td>
                                <td>5%</td>
                            </tr>
                            <tr>
                                <td>F2</td>
                                <td>3%</td>
                            </tr>
                            <tr>
                                <td>F3</td>
                                <td>2%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <p class="left_text">&nbsp; • Commission from surplus profits of FinFine after paying profits to
                    investors at the end of the day:</p>
                <div class="row">   
                    <table class="tb-partner col-lg-3 col-md-3 col-xs-8 col-lg-offset-3 col-md-offset-3 col-xs-offset-2">
                        <tbody>
                            <tr>
                                <td>Level</td>
                                <td>Profit</td>
                            </tr>
                            <tr>
                                <td>F1</td>
                                <td>15%</td>
                            </tr>
                            <tr>
                                <td>F2</td>
                                <td>10%</td>
                            </tr>
                            <tr>
                                <td>F3</td>
                                <td>5%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <p class="left_text">&nbsp; • Commission from sharing referral link to introduce FinFine
                    Foundation:</p>
                <div class="row">   
                    <p class="left_text" style="color:gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small>“Recommend FinFine Fund to your friends, you and your friends will receive a
                        reward of 25 FFT / 1 person when your friend creates an account and KYC
                        succeeds</small>
                        </p>
                </div>
                <p class="left_text">&nbsp; • The rewards for the top FinFine developers and aggregated at the
                    end of the month</p>
                <div class="row">   
                    <p class="left_text" style="color:gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small>Track rewards for FinFine events every month
                    </small>
                        </p>
                </div>
                <p class="left_text">&nbsp; • The rewards for the top FinFine teams are summarized every month
                </p>
                <div class="row">   
                    <p class="left_text" style="color:gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small>Track rewards for FinFine events every month
                    </small>
                        </p>
                </div>
                <p class="left_text">&nbsp; • Special rewards for reaching the leadership level of FinFine System
                </p>
                <div class="row">   
                    <p class="left_text" style="color:gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small>Qualification for Level 6 such as Limits & Fee tables (Log in to see the
                        Limits & Fee table)
                    </small>
                        </p>
                </div>
                <p class="left_text">&nbsp; • Developers benefit from the withdrawal period and fees from the
                    Limits & Fee table
                </p>
                <div class="row">   
                    <p class="left_text" style="color:gray">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <small>Log in to see the Limits & Fee table
                    </small>
                        </p>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- end section -->
<%- include("./../layouts/footer");-%>