<%- include("./../layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>Terms And Condition</h3>
                        <ul>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Fund</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">term</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- section -->
<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>Terms and Conditions of Use</span></h2>
                        <p>You should review our <span><a style="color:blue" href="#" data-toggle="modal" data-target="#exampleModalLong">Privacy Policy</a></span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <p class="left_text">Welcome to FinFine Digital Hedge Fund - the leading transparent and reliable cryptocurrency investment fund in the world.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Introduction</h4>
                <p class="left_text">FinFine Ltd is a startup technology company in the field of Blockchain and cryptocurrency. We provide trading solutions in Forex and Cryptocurrency. After years of intensive research on the Crypto market, the founders and engineers have successfully researched and developed FinFineBot System. Thanks to the FinFineBot platform and extensive experience in trading in the foreign exchange market, FinFine Fund was established to expand capital and seek profit for our company and investors.</p>
                <p class="left_text">FinFine Fund and other experienced leading investors provide FinFine a network of accredited investors with access to project funding rounds. We believe the endorsement of the original profile of the FinFine System and by experienced blockchain angel investors is a leading element of the investment process as it constitutes a quality control measure for the broader investor community. By offering investors the opportunity to participate and contribute responsibly, FinFine turns millions of users into potential investors. Thereby expanding the ecosystem and building special trading platforms in the future.</p>
                <p class="left_text">These terms of service outline the general terms governing your use of finfine.io. It all applies as soon as you use the site for your own purposes. By using the site or anyone using it through your account, you will be deemed to agree to be bound by these terms of service. These terms govern your access to and use of the services, websites and applications that FinFine provides (Online Services). If you do not wish to remain bound by these terms, please stop using the service now.</p>
                <p class="left_text">FinFine reserves the right to modify these Terms and Conditions at any time and Customer continues to use the service, the website means that the user agrees to all updated Terms and Conditions.</p>
                <p class="left_text">These terms and conditions constitute a legal agreement between you, as a user and FinFine Ltd and any of its affiliates, as the site owner.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• The basics</h4>
                <p class="left_text">FinFine Fund is one of the companies that provide online services in the cryptocurrency market based on special resources. You have the right to choose and research the ecosystem before making a decision to participate.</p>
                <p class="left_text">FinFine Fund is a community and so we hope users respect each other's confidential information. However, FinFine Fund cannot guarantee that certain users will not distribute or use false information on the website. In addition, FinFine Fund is an online platform, we cannot prevent unauthorized viewing in the event of a software error or a hacker attack.</p>
                <p class="left_text">FinFine Fund does not provide any investment recommendations or advice. We provide solutions that are considered to be potential at the present time in the transaction. We do not guarantee that the future of effectiveness still exists. Let research before making the most accurate decision.</p>
                <p class="left_text">Trust trading and token storage is a high-risk long-term investment, also governed by a variety of laws including global anti-money laundering and securities laws. FinFine Fund is not responsible for the results of inaccurate transactions and the risk of downtime of partners who provide trading platforms for FinFine Fund.</p>
                <p class="left_text">While FinFine Fund makes reasonable efforts to obtain information from sources it believes to be reliable, FinFine Fund does not represent or warrant that the information or opinions contained in this Website are accurate and reliable, updated, or complete. If the information is false, the user will bring this information to FinFine Fund, providing information to assist FinFine Fund in fixing any such deficiencies or errors and the User will take no action to differ from law or fairness regarding such inaccurate or misleading information or User's beliefs. The User further agrees that FinFineFund will endeavor to remedy such errors in good faith and that such action will be deemed to fulfill the obligations of FinFine Fund and its agents to the user.</p>
                <p class="left_text">By investing in the Fund, investors in the Fund accept the discretion of fund manager to select supervisors, exchanges and other suppliers, as well as inherent legal risks and Other risks apply to cryptocurrencies and other digital assets not only related to the Fund but also to the custodian of digital assets, exchanges and other suppliers to which the Fund join to trade.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Service</h4>
                <p class="left_text">FinFine Fund grants Users a limited, non-exclusive, non-transferable license to access and use the website solely for internal or personal purposes. User agrees not to copy all or part of the data, for the purpose of publishing information, reselling the information or keeping a copy of local data for use as an internal data source or for further Provides existing data in-home databases, including but not limited to contact lists and e-mail and performance and fund information. The use of any content available on the FinFine Fund is subject to the Terms and Conditions.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Use of Data</h4>
                <p class="left_text">Users may not copy or redistribute any Data that FinFine provides in the form of analysis and strategy into hard copy, machine-readable format, or any other form without authorization written rights from FinFine Fund. Users will not publish, resell, or disclose any Data.</p>
                <p class="left_text">Users agree to install appropriate safeguards to protect data from malicious use. FinFine does not assume any responsibility related to the consequences of malware from a user's device.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Restrict use</h4>
                <p class="left_text">Copy, republish, upload, post, transmit, or distribute in any manner from the Website in any manner inconsistent with the purpose that FinFine Fund provides to its customers, potential customers. or our members.</p>
                <p class="left_text">Without written permission, copy, modify or display a trading name, trademark or logo, or any text, graphic images, or other content from the Website. (To obtain written permission, you may email us).</p>
                <p class="left_text">Return any page, text, image, or other content of the Website using Google's framing technology without the written permission of FinFine Fund.</p>
                <p class="left_text">Interrupt the server or network connected to the Site; use or launch any automated system (including but not limited to, "robots" and "spiders") to access the Site; circumvent, disable or otherwise interfere with the Site's security-related features or features that prevent or restrict the use or copying of any content or enforce restrictions when using the Site web; interfere with our Services or attempt to access them by methods other than the interface and instructions we provide
                    Collect or store personal data about other users of the Website.
                    </p>
                <p class="left_text">Uploading, emailing or transmitting any material that contains a virus or any other computer code, file, or program that may interrupt, restrict or interfere with the function of any computer software computer, hardware, or communication device owned, leased or used by FinFine Fund.</p>
                <p class="left_text">Do not create a link to the Website unless the user or operator of the other site has made a standard agreement with FinFine Fund to grant the right to establish that link.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Account registration and authorization</h4>
                <p class="left_text">You are required to complete the account verification process provided by FinFine Fund. Your personal information may be used by us to analyze users to improve our services. Please note that you are obligated to update us on any changes made in any information provided by you. Your personal information will be handled in accordance with the Privacy Policy of FinFine Fund.</p>
                <p class="left_text">Until you complete the process of providing required account verification documents, at the discretion of the FinFine Fund, you will have limited use of features on our website. The purpose of user account verification is to allow us to make decisions about whether you are capable of having the experience, expertise, and knowledge necessary to understand the risks involved and to make an initial decision. You're own private about the opportunities available through the website.</p>
                <p class="left_text">Without prejudice to our authorization processes, by implementing the Terms, you warrant to us that you have the experience, expertise, and knowledge to understand the risks involved and to make an early decision. Your own investments in FinFineBot System transactions now and in the future.</p>
                <p class="left_text">To use some of the Website's services, you may have to create an account (Online Account). You agree not to create an Account for anyone else or use someone else's account without their permission. When creating your Account, you must provide accurate, truthful, and complete information. You are solely responsible for the activity that occurs in your account and you must keep your Account password confidential. You must immediately notify the FinFine Fund of any security breach or unauthorized use of your account. Between you and FinFine Fund, you are solely responsible and responsible for the activity that occurs in connection with your Account. If you wish to delete your account, you may submit an email request to FinFine Fund at info@finfine.io.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Several risk factors</h4>
                <p class="left_text">Investing in FinFine Fund is long-term & potentially risky and should not constitute the entire portfolio of investors. Investors can lose all or significant of all their investments in it. No guarantees can be made that the Fund will meet its investment objectives or will avoid losses. Among the risks associated with the Fund are:</p>
                <p class="left_text">• The Fund will significantly depend on its services and strategy. The FinFineBot System strategy has been very effective right now but that doesn't mean the future is stable.</p>
                <p class="left_text">• Digital assets have certain common characteristics that lead to increased legal risks.</p>
                <p class="left_text">• The prices of digital assets like Bitcoin have historically been subject to strong volatility and emotional change, causing them to fluctuate sharply.</p>
                <p class="left_text">• Borrowing USD with Bitcoin collateral not only involves many risks such as borrowing with stock-based lending programs but also other risks related to the new lending structure and lending institutions. Non-bank loans and platforms provide such loans, as are digital assets in general. Therefore, there is a risk that Bitcoin collateral will be lost or stolen. This situation may arise in the case of collusion between lenders and collateral agents holding collateral.</p>
                <p class="left_text">• Although the FinFine Fund's investment program seeks to maintain a rate of return on assets, the Fund still suffers the worst possible scenario as the market stops liquidity.</p>
                <p class="left_text">• FinFine Fund will not be held responsible for the consequences of network attacks, server attacks from hackers, falsifying trading strategies, and stealing assets of the Fund. The risk will be limited at the time we purchase hedging insurance from the insurance company.</p>
                <p class="left_text">• The Fund faces weaknesses in infrastructure, high transaction costs and inactivity of digital asset exchanges and OTC partners, and failure to do so may result in Transactions of Digital Assets are not performed, thus making the Fund suffer losses.</p>
                <p class="left_text">• By investing in the Fund, investors in the Fund accept the discretion of the Manager to select supervisors, exchanges, and other suppliers, as well as inherent legal risks. and other risks that apply to cryptocurrencies and other digital assets not only related to the Fund but also to custodians of digital assets, exchanges, and other suppliers. Fund transactions.</p>
                <p class="left_text">• Governments and material global changes, including regulatory changes, which may occur (whether foreseeable or not) may adversely affect the investment below and the taxes applied and generated. Significant losses and limited liquidity.</p>
                <p class="left_text">• There are many market-related factors in general and the implementation of the FinFineBot System strategy is not possible, and has not been taken into account during the information preparation process outlined in the Website, all of which can adversely affect actual performance results for the Foundation.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• The Rights of FinFine Fund</h4>
                <p class="left_text">FinFine Fund may discontinue or change the Service at any time and for any reason without liability. FinFine Fund may refuse to register or cancel your user account at its discretion.</p>
                <p class="left_text">FinFine Fund may suspend access to your Services. If you violate the Terms, FinFine Fund may pursue other legal remedies.</p>
                <p class="left_text">FinFine Fund may access, store and disclose any information necessary to meet applicable laws, regulations, legal process or governmental requirements, to enforce this agreement, to detect and prevent fraud, security or technical issues, to meet user support or protection of the rights, property or safety of members of the FinFine community.</p>
                <p class="left_text">FinFine Fund may delete your account at any time without further notice to you, which may cause you to lose access to information, connections, or other features that may be associated with your account. your account. FinFine Fund will not be responsible for any claims based on account termination or content removal.</p>
                <p class="left_text">FinFine Fund may move, edit or delete content or comments from the Service.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Privacy and security</h4>
                <p class="left_text">FinFine Fund takes your privacy seriously. FinFine Fund processes information about you in accordance with our Privacy Policy. By using this Website, you agree to such processing and you warrant that all data provided by you is accurate. Please review our Privacy Policy to learn more about how we collect and use information about you through the Service.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Intellectual property rights</h4>
                <p class="left_text">FinFine Fund maintains copyright or trademark for all information and materials contained on the Site, except those that are clearly identified to others, which are the property of their respective owners. Our trade names and brands may not be used by others. Unauthorized copying, copying, uploading, downloading, copying, or transmitting any material contained on the Website are prohibited without prior written consent.</p>
                <p class="left_text">The content of the Website is protected by applicable copyright laws. No rights are granted to copy, distribute, modify, post or frame any text, graphics, video, audio, software code or user interface design or logo.</p>
                <p class="left_text">"Intellectual property rights" means any and all rights, titles and interests, whether foreign or domestic intellectual property rights, in and to any and all trade secrets. commerce, patent, copyright, service mark, trademark, know-how, or similar, as well as any and all moral, privacy, public and similar rights under any form in accordance with the laws or regulations of any governmental, regulatory or judicial, foreign or domestic authority.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Revise and monitor</h4>
                <p class="left_text">FinFine Fund reserves the right, at its sole discretion, to change, modify, add or delete these Terms and the contents of the Website at any time and without prior notice. We recommend that you check this information periodically for changes. These Terms may be accessed from links on the homepage and other pages of the Site. If you use the Site after we post changes to the information or content of the Site, you accept such changes. We clearly have the right to monitor any and all use of the Site.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Termination</h4>
                <p class="left_text">FinFine Fund may terminate your access to the Site (or any of its features) at any time for any reason. The reasons for such termination will include, but are not limited to: breach or breach of these Terms; requests from law enforcement or other government agencies; your request (delete self-initiated accounts); cease providing or modifying materials with respect to the services (or any part thereof) provided from the Site; unexpected technical or security issues or problems; extended inactivity; fraudulent or illegal activities performed by or on your behalf in connection with the Site; deactivate the entire Website; a statement by you that you no longer agree to these Terms or your statement otherwise requires termination of your access to the Site.</p>
            </div>
        </div>
        <div class="row">          
            <div class="full">
                <h4>• Limitation of liability</h4>
                <p class="left_text">FinFine Fund provides Customer with the Service and Data below on an as-is basis and without warranty of any kind. Customer waives all other express or implied warranties, including, but not limited to, any implied warranties of merchantability, quality, fitness for a particular purpose, confidentiality or accuracy, compatibility, non-infringement, or including execution time. FinFine Fund does not warrant that the provision of Services or Data will be uninterrupted or virus-free or virus-free, nor does it give any warranty (either express or implied) for any results used equally. Customer expressly agrees that it uses the Services and Data at its own risk.</p>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
 <!-- Modal -->
 <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title center_text" id="exampleModalLongTitle" style="color: rgb(22, 4, 63);">Privacy Policy</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="left_text" style="color: black;">At FinFine Fund provides Customer with the Service and Data below on an as-is basis and without warranty of any kind. Customer waives all other express or implied warranties, including, but not limited to, any implied warranties of merchantability, quality, fitness for a particular purpose, confidentiality or accuracy, compatibility, non-infringement, or including execution time. FinFine Fund does not warrant that the provision of Services or Data will be uninterrupted or virus-free or virus-free, nor does it give any warranty (either express or implied) for any results used equally. Customer expressly agrees that it uses the Services and Data at its own risk. We are committed to protecting and respecting your privacy. This policy explains the information we collect, how we use it, and under what conditions we may disclose it to third parties. You should also review our Terms and Conditions.</p>
          <p class="left_text" style="color: black;">We may change this policy from time to time, so please check this page from time to time to ensure you are happy with the changes. By using our website and / or purchasing our products, you agree to be bound by this policy.</p>
        </div>
        <div class="modal-body">
            <h5 style="color: rgb(20, 2, 61)">Collect personal data</h5>
          <p class="left_text" style="color: black;">FinFine Fund collects data from you, through our interactions with you, and through mandatory account verification on the FinFine system. You provide some of this data directly and we receive some data by collecting data about your interactions, uses, and experiences with our products. The data we collect depends on the context of your interaction with the FinFine Fund and the choices you make, including your privacy settings as well as the products and features you use.</p>
        </div>
        <div class="modal-body">
            <h5 style="color: rgb(20, 2, 61)">Tracking & cookie data</h5>
          <p class="left_text" style="color: rgb(32, 1, 82);">We use cookies and similar tracking technologies to track the activity on our Services and keep certain information.</p>
          <p class="left_text" style="color: black;">Cookies are files with small amounts of data that may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information as well as improve and analyze our Services.</p>
          <p class="left_text" style="color: black;">You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some parts of our Services.</p>
          <p class="left_text" style="color: black;">Examples of Cookies we use:</p>
          <p class="left_text" style="color: black; padding-left: 10px;">Session Cookies. We use Session Cookies to operate our Services.</p>
          <p class="left_text" style="color: black; padding-left: 10px;">Cookie priority. We use Priority Cookies to remember your preferences and various settings.</p>
          <p class="left_text" style="color: black; padding-left: 10px;">Security Cookies. We use Security Cookies for security purposes.</p>
        </div>
        <div class="modal-body">
            <h5 style="color: rgb(20, 2, 61)">Use of data</h5>
          <p class="left_text" style="color: black;">FinFine Fund uses the data collected for various purposes:</p>
          <p class="left_text" style="color: black; padding-left: 10px;">Provide and maintain our Services.</p>
          <p class="left_text" style="color: black; padding-left: 10px;">Notify you about changes to our service.</p>
          <p class="left_text" style="color: black; padding-left: 10px;">Enable you to participate in the interactive features of our Services when you choose to do so.</p>
          <p class="left_text" style="color: black; padding-left: 10px;">Provide customer support.</p>
          <p class="left_text" style="color: black; padding-left: 10px;">Collect analytics or valuable information so we can improve our Services.</p>
          <p class="left_text" style="color: black; padding-left: 10px;">Track the use of our Services.</p>
          <p class="left_text" style="color: black; padding-left: 10px;">Detect, prevent and solve technical problems.</p>
          <p class="left_text" style="color: black; padding-left: 10px;">Provide you with news, special offers, and general information about other goods, services, and events we offer similar to what you have purchased or asked for unless you have chosen not to receive them that information.</p>
        </div>
        <div class="modal-body">
            <h5 style="color: rgb(20, 2, 61)">Data storage</h5>
          <p class="left_text" style="color: black;">FinFine Fund will only retain your Personal Data as long as necessary for the purposes set out in this Privacy Policy. We will retain and use your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with the law. applicable law), resolve disputes, and enforce our agreements and legal policies.</p>
          <p class="left_text" style="color: black;">FinFine Fund will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when it is used to enhance the security or improve the functionality of our Services or we have a legal obligation to retain this data for longer periods of time.</p>
        </div>
        <div class="modal-body">
            <h5 style="color: rgb(20, 2, 61)">Data security</h5>
          <p class="left_text" style="color: black;">The security of your data is important to us, but remember that no method of transmission over the Internet or electronic storage method is 100% secure. Although we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute confidentiality.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<%- include("./../layouts/footer");-%>