<%- include("./../layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>FinFineBot</h3>
                        <ul>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Product</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">FinFineBot</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- section -->
<section class="layout_padding dark_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h3><span>High-frequency Trading on the market</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="full">
                <p class="left_text">Prices of different types of assets fluctuate over time. For the same stock, we can see a clear price difference on two
                    different exchanges. Therefore, high-frequency transactions began to be researched and successfully applied in financial
                    markets.</p>
                <p class="left_text">High-frequency trading (HFT) is an automated trading platform used by large investment banks, hedge funds, and
                    institutional investors. It uses powerful computers to trade large numbers of orders at extremely high speeds.
                    These high-frequency trading platforms allow traders to execute millions of orders and scan multiple markets and
                    exchanges in seconds, thus giving organizations using the platform an advantage. in the open market.
                    Basic properties of high-frequency transactions:</p>
                <p class="left_text">1. Use sophisticated programs and extremely high speed to create, route and execute orders.</p>
                <p class="left_text">2. Use co-location services and personal feeds provided by exchanges and other services to minimize network and other
                    delays.</p>
                <p class="left_text">3. The very short time frame for establishing and liquidating positions.</p>
                <p class="left_text">4. Submissions of many orders are canceled immediately after sending.</p>
                <p class="left_text">5. End the trading day as close to a flat position as possible (ie no important positions, no overnight protection)
                    Currently, high-frequency transactions are commonly used in the foreign exchange and stock markets. At FinFine, highfrequency trading has been successfully applied in the cryptocurrency market. Our servers are located near the largest
                    exchanges. Along with smart algorithms, FinFine generates averagely 20000-100000 transactions a day. The cryptocurrency
                    market is a potential new market for HFT companies like us. </p>
                <br>
                
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full center" style="width: 80%; margin-left: 10%;">
                    <img src="assets-home/product/asset_999.png" width="100%" alt="#">
                </div>
                <br>
                <div class="full center" style="width: 80%; margin-left: 10%;">
                    <p><i>The common high-frequency trading model in the market</i></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- section -->
<section class="layout_padding" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="heading_main">
                    <h3 style="color: black">FinFineBot is researched and created to trade
                        cryptocurrencies automatically while you are sleeping
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px;">
                <div class="full our_work_type" style="padding: 20px; background:rgba(235, 235, 236, 0.596)">
                    <div class="left"><img src="assets-home/product/asset_239.png" alt="#"></div>
                    <div class="left">
                        <h4 style="color: rgb(95, 119, 38); font-weight: bold;">High-Frequency Trading</h4>
                    </div>
                    <div class="left">
                        <p class="left_text" style="color: black">FinFineBot uses high-speed servers
                            applying high-frequency algorithms.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px;">
                <div class="full our_work_type" style="padding: 20px; background:rgba(235, 235, 236, 0.596)">
                    <div class="left"><img src="assets-home/product/asset_249.png" alt="#"></div>
                    <div class="left">
                        <h4 style="color: rgb(95, 119, 38); font-weight: bold;">Real-time transactions</h4>
                    </div>
                    <div class="left">
                        <p class="left_text" style="color: black">Trade-in real-time and do
                            not hold capital overnight
                            .</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px;">
                <div class="full our_work_type" style="padding: 20px; background:rgba(235, 235, 236, 0.596)">
                    <div class="left"><img src="assets-home/product/asset_259.png" alt="#"></div>
                    <div class="left">
                        <h4 style="color: rgb(95, 119, 38); font-weight: bold;">Special algorithm</h4>
                    </div>
                    <div class="left">
                        <p class="left_text" style="color: black">Smart algorithms improve
                            trading performance in a day.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px;">
                <div class="full our_work_type" style="padding: 20px; background:rgba(235, 235, 236, 0.596)">
                    <div class="left"><img src="assets-home/product/asset_269.png" alt="#"></div>
                    <div class="left">
                        <h4 style="color: rgb(95, 119, 38); font-weight: bold;">Public transaction</h4>
                    </div>
                    <div class="left">
                        <p class="left_text" style="color: black">Our financial statements
                            are always updated with
                            transaction history.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px;">
                <div class="full our_work_type" style="padding: 20px; background:rgba(235, 235, 236, 0.596)">
                    <div class="left"><img src="assets-home/product/asset_279.png" alt="#"></div>
                    <div class="left">
                        <h4 style="color: rgb(95, 119, 38); font-weight: bold;">Top 15 Cryptocurrency</h4>
                    </div>
                    <div class="left">
                        <p class="left_text" style="color: black">We start with the list of the 15
                            most profitable cryptocurrency
                            pairs
                            .</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px;">
                <div class="full our_work_type" style="padding: 20px; background:rgba(235, 235, 236, 0.596)">
                    <div class="left"><img src="assets-home/product/asset_289.png" alt="#"></div>
                    <div class="left">
                        <h4 style="color: rgb(95, 119, 38); font-weight: bold;">Low risk</h4>
                    </div>
                    <div class="left">
                        <p class="left_text" style="color: black">Risks for high-frequency
                            transactions mainly focus on
                            server infrastructure.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>Exchange partners</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="full center">
                    <img class="img-responsive" src="assets-home/product/asset_299.png" alt="#">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="full center">
                    <img class="img-responsive" src="assets-home/product/asset_309.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("./../layouts/footer");-%>