<%- include("./../layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>FinFine Exchange</h3>
                        <ul>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">Product</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="http://psdconverthtml.com/live/crypto/about.html#">FinFine Exchange</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section -->

<section class="layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>Gold is always a trustable asset</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="col-md-6 col-xs-12">
                        <div class="full">
                            <div class="banner_icon">
                                <img class="img-responsive" src="assets-home/product/asset_888.png" alt="#">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="full" style="padding-top: 100px;">
                            <p class="left_text">Gold is considered to be an important asset worldwide.
                                In the process of forming life, gold is considered a rare
                                and valuable metal. Owning gold can be a good barrier
                                against inflation and is a good portfolio diversification
                                tool. In addition, gold can also provide financial
                                insurance in geopolitical unrest and macroeconomic
                                The benefits of gold storage:</p>
                            <p class="left_text">&nbsp;1. Anti-inflation</p>
                            <p class="left_text">&nbsp;2. Keep value</p>
                            <p class="left_text">&nbsp;3. Deflation Protection</p>
                            <p class="left_text">&nbsp;4. Increasing Demand</p>
                            <p class="left_text">&nbsp;5. Portfolio Diversification</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="layout_padding dark_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>Blockchain Gold</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <h3>Challenges in the financial industry are facing</h3>
                    <h4>1st. Security</h4>
                    <p class="left_text">According to the US Department of Financial Control, there are about 100,000 attacks a year on private
                        banking systems, funds and trading systems, and robbed tens of billions of dollars each year. The most
                        common are DDOS attacks, this is one of the popular attacks worldwide, the problem of whether DDOS can
                        overcome Blockchain?
                        </p>
                    <p class="left_text">In Blockchain, two security keys exist for each transaction: The public key can be used to view a user’s
                        account balance and transaction history, but it cannot be used to identify the account owner’s identity or to
                        make changes to their record. The private key is linked to the user’s account number, and can only be used
                        once. Even if a hacker could steal the private key and decrypt it, it would not enable them to make further
                        transactions.</p>
                    <h4>2nd. Trading time</h4>
                    <p class="left_text">Buying and selling assets has always involved a lot of third parties, such as brokers and the stock exchange
                        itself. Here is how trading works:
                        </p>
                    <p class="left_text">1. The buyer or seller initiates the trade.</p>
                    <p class="left_text">2. A broker sends a transaction to a stock exchange.</p>
                    <p class="left_text">3. The transaction is matched with another party (counterparty).</p>
                    <p class="left_text">4. The transaction is sent to Central Counterparty Clearing House for risks evaluation.</p>
                    <p class="left_text">5. The buyer’s or seller’s representatives work with the Central Securities Depository (CSD) to record the
                        transfer.</p>
                    <p class="left_text">6. The transaction is sent to the Registrar or Transfer Agent of Initial Trade to update their list or
                        shareholders.</p>
                        <br>
                    <p class="left_text">As you see, the traditional stock exchange process involves lots of stages and bureaucracy and can take up to
                        3 days. Time is too long to wait. However, decentralized nature of blockchain technology in banking can
                        remove all those unnecessary intermediaries and enable trading to be run on computers all over the world.
                        No more dedicated servers united into an interconnected network.</p>
                    <h4>3th. Transaction cost and scope</h4>
                    <p class="left_text">When you send or receive a payment, the funds typically move through banks, credit card processing
                        networks, and other intermediaries. Each step adds complexity, and every service provider expects to
                        earn a fee for the part they play in your payment. Blockchain-based transfers save time and money
                        For example, assume a worker in the U.S. wants to send funds to her home country. In the past, she’d
                        have to travel to a money transfer office, wait in line for an agent, pay cash, and pay fees of 7 to 10
                        percent to complete a transfer. The recipient might follow a similar process. But with blockchain
                        technology, both parties can complete an electronic transfer with mobile phones—and pay far less.
                        </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end section -->
<!-- section -->
<section class="layout_padding" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h3><span style="color: rgb(15, 2, 59)">Blockchain application in digitize assets
                        </span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px">
                <div class="full our_work_type" style="padding: 20px; background:#041e37; min-height: 400px;">
                    <div class="left"><img src="assets-home/product/asset_319.png" alt="#">&nbsp;<span style="color:white">Saving</span></div>
                    <br>
                    <div class="left">
                        <p class="left_text" style="color: white">It is estimated that the world
                            will save 0.7 to 1.2 trillion US
                            dollars each year thanks to
                            Blockchain application to
                            significantly reduce
                            transaction costs,
                            management, personnel,
                            warehousing. For example: If
                            you want to sell an
                            apartment, it will take a lot of
                            time and cost for this
                            process, but when your
                            apartment is digitized, all
                            transactions are just one click
                            while ensuring transparency.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px;">
                <div class="full our_work_type" style="padding: 20px; background:#041e37; min-height: 400px;">
                    <div class="left"><img src="assets-home/product/asset_329.png" alt="#">&nbsp;<span style="color:white">Easy trading</span></div>
                    <br>
                    <div class="left">
                        <p class="left_text" style="color: white">Have you ever thought of
                            buying and selling assets only
                            by a few clicks like buying
                            and selling stocks on the
                            exchanges Nasdaq, NYSE, LSE
                            ? That's right, when your
                            assets are verified on
                            Blockchain and encrypted,
                            you can completely trade and
                            exchange assets through a
                            certain token. Gold, silver,
                            real estate ... or any asset
                            .</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 20px;">
                <div class="full our_work_type" style="padding: 20px; background:#041e37; min-height: 400px;">
                    <div class="left"><img src="assets-home/product/asset_339.png" alt="#">&nbsp;<span style="color:white">Transparent and safe</span></div>
                    <br>
                    <div class="left">
                        <p class="left_text" style="color: white">All transactions of investors
                            and traders are recorded on
                            Blockchain. SmartContract
                            will serve as a fair referee
                            giving terms and
                            automatically enforcing sales
                            agreements. This technology
                            allows two parties not to
                            confirm their tradable
                            identities without worrying
                            about cheating.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- section -->
<section class="layout_padding about_bg_compu white_fonts">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>DIGITAL ASSETS EXCHANGE(2023)</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="full" style="padding-top: 50px; text-align:center">
                <img id="img_exchange_plan" src="./assets-home/company/3.png"  alt="">
            </div>
        </div>
    </div>
</section>
<%- include("./../layouts/footer");-%>