<%- include("./../layouts/header");-%>
<section id="inner_page_infor" class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="inner_page_info">
                        <h3>FinFine Platform</h3>
                        <ul>
                            <li><a href="#">Product</a></li>
                            <li><i class="fa fa-angle-right"></i></li>
                            <li><a href="/platform">Platform</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section -->
<section class="layout_padding" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="full our_work_type" style="padding: 20px;">
                    <div class="center"><img src="assets-home/product/asset_209.png" alt="#"></div>
                    <div class="center">
                        <h4 style="color: rgb(139, 139, 64); font-weight: bold;">Security</h4>
                    </div>
                    <div class="center">
                        <p style="color: black">The world's leading data
                            security infrastructure.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="full our_work_type" style="padding: 20px;">
                    <div class="center"><img src="assets-home/product/asset_219.png" alt="#"></div>
                    <div class="center">
                        <h4 style="color: rgb(139, 139, 64); font-weight: bold;">Trustworthy</h4>
                    </div>
                    <div class="center">
                        <p style="color: black">Publicize all activities that
                            make a profit of the fund.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="full our_work_type" style="padding: 20px;">
                    <div class="center"><img src="assets-home/product/asset_229.png" alt="#"></div>
                    <div class="center">
                        <h4 style="color: rgb(139, 139, 64); font-weight: bold;">Easy to use</h4>
                    </div>
                    <div class="center">
                        <p style="color: rgb(4, 20, 73)">Extensions help increase the
                            level of user friendliness.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- section -->
<section class="layout_padding light_bg">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full">
                    <div class="heading_main">
                        <h2><span>Demo Platform</span></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="full" style="margin-top: 25px; text-align: center;">
                    <iframe style="position: static; visibility: visible; display: block; width: 800px; height: 600px; padding: 0px; border: none; max-width: 80%; min-width: 80%; min-height: 300px; margin-top: 10px; margin-bottom: 10px; margin-left:10%" src="#"></iframe>
                </div>
            </div>
        </div>
</section>
<!-- end section -->

<!-- section -->
<section class="layout_padding about_bg_compu">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="full">
                    <h2 class="heading_style2" style="margin-top: 70px!important">Technology platform</h2>
                    <p class="left_text">FinFine Platform is the result of the research process
                        of a team of experienced and creative
                        programmers. The system is built based on
                        technical factors such as:</p>
                    <p class="left_text">• Decentralized Tokens</p>
                    <p class="left_text">• NodeJs Programing</p>
                    <p class="left_text">• Javascript Programming</p>
                    <p class="left_text">• Machine Learning</p>
                    <p class="left_text">• Real-time feedback system</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="full center_text">
                    <img class="img-responsive" src="assets-home/product/asset_199.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<%- include("./../layouts/footer");-%>